#!/bin/sh
function run {
  if ! pgrep $1 ;
  then
    $@&
  fi
}
xrdb ~/.config/X/Xresources
#setxkbmap us
#run setup-keyboard.sh &
xset r rate 300 50 &
run unclutter &
run nm-applet &
run pa-applet &
run udiskie -a -t -m nested & 
run xfce4-power-manager &
bluetooth on &
/usr/lib/xfce4/notifyd/xfce4-notifyd &
sh /home/mark/.fehbg &
wmname LG3D &
run dropbox &
optimus-manager-qt &
prime-offload &
xinput set-prop 'SynPS/2 Synaptics TouchPad' 'libinput Accel Speed' 0.5 &
# launch and restart sxhkd on config change
sxhkd -m 1 &
#st -d /home/mark/TU/SoSe-2021 -e 'zsh' & st -d /home/mark/TU/SoSe-2021 -e 'zsh' & chromium --app=https://www.notion.so/Uni-6d6ad8b317a34b8e8bcf3867ec31953d &
echo ~/.config/sxhkd/sxhkdrc | entr -np  pkill -USR1 -x sxhkd &
echo -e "power on" | bluetoothctl && blueman-applet &
